<nav>
    <ul>
        <li><a href="{{ path('app_main') }}">Home</a></li>
        <li><a href="{{ path('wish_list') }}">Liste des souhaits</a></li>
        <li><a href="{{ path('wish_add') }}">Nouveau souhait</a></li>
        <li><a href="{{ path('app_about') }}">About Us</a></li>
    </ul>
</nav>